@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

*{
    font-family: "short stack";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    background: #4594e1;
    width: 300px;
    height: 100%;
    border-left:8px solid #4594e1;
    overflow: hidden;
    transition: 0.5s;
}

navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background-color: white;
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
}

.navigation ul li:hover a {
    color: #4594e1;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    line-height: 60px;
    height: 60px;
    font-size: 1.75rem;
}
    

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
}

.main{
    position: absolute;
    left: 300px;
    width: calc(100% -300px);
    min-height: 100vh;
    transition: 0.5s;
    background: #fff;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}

.bx-menu{
    color: #4594E1;
}

.bx-library{
    color:#4594E1;
}

.students{
    background-color:#4594E1; 
    color: #fff; 
    width: 180px; 
    height: 40px;
    border-radius:10px; 
    margin: auto;
    border: none;
    outline: none;
    object-fit: contain;
   
}

.cardbox{
    display: flex;
    gap: 1.8rem;
    margin-left: 2rem;
    
}

.card{
    box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
    width: 200px;
    height: 100px;
    border-radius: 10px;
}
  
section:nth-of-type(2) div:nth-of-type(2) div:nth-child(2) i.bx-book-content{
    color:#4594E1;
}

section:nth-of-type(2) div:nth-of-type(3) div:nth-child(1) i.bx-certification{
    color:#4594E1;
}

section:nth-of-type(2) div:nth-of-type(3) div:nth-child(2) i.bxs-graduation{
    color: #4594E1;
}

.cardbox2{
    display: flex;
    gap: 1.8rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.quiz{
    box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
    width: 200px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
}